<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demo <%= tagName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <style>
      body {
        background: #fafafa;
      }
    </style>
  </head>
  <body>
    <div id="demo"></div>

    <script type="module">
      import { html, render } from 'lit';
      import '../define/<%= tagName %>.ts';

      const heading = 'World!';
      render(
        html`<<%= tagName %>
          @counter-changed="${ev => console.log('==>', ev.detail)}"
          .heading=${heading}
          >some light-dom</<%= tagName %>
        >`,
        document.querySelector('#demo'),
      );
    </script>
  </body>
</html>
