<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Demo - <%= tagName %></title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        font-family: sans-serif;
      }
    </style>
    <link rel="icon" href="data:," />
    <meta name="description" content="<%= tagName %>" />
  </head>
  <body>
    <script type="module">
      import {html, render} from './entry.js';

      const heading = 'World!';
      render(
        html`<<%= tagName %>
          @counterchange="${(ev) => console.log('==>', ev.detail)}" .heading="${heading}"
          >some light-dom</<%= tagName %>
        >`,
        document.body
      );
    </script>
  </body>
</html>
