<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    body {
      background: #fafafa;
    }
  </style>
</head>
<body>
  <div id="demo"></div>

  <script type="module">
    import { html, render } from 'lit';
    import '../define/<%= tagName %>.js';

    const heading = 'Hello owc World!';
    render(
      html`
        <<%= tagName %> .heading=${heading}>
          some light-dom
        </<%= tagName %>>
      `,
      document.querySelector('#demo')
    );
  </script>
</body>
</html>
